<section data-ng-controller="GamesController" data-ng-init="players()">
    <form class="form-horizontal col-md-6" role="form" >
        <ul class="players unstyled">
            <li data-ng-repeat="player in players">
                <div class="form-group">
                    <h2>{{player.name}}</h2>
                    <div class="col-md-9">
                        <a data-ng-click="create()" class="button">Challenge</a>
                    </div>
                </div>
            </li>
        </ul>
</section>
