<section data-ng-controller="GamesController" data-ng-init="findOne()">
    <span>{{game.date | date:'medium'}}</span>
    <h2>{{game.players[0].player.name}} vs {{game.players[1].player.name}}</h2>

    <div data-ng-show="global.user._id == game.players[1].player._id && game.status == 0">
        <a class="button" data-ng-click="accept();">
            Accept
        </a>
        <a class="button" data-ng-click="decline();">
            Decline
        </a>
    </div>
    <div data-ng-show="game.status == 0">Pending</div>
    <div data-ng-show="game.status == 1">In Progress</div>
    <div data-ng-show="game.status == 2">{{game.players[0].score}} to {{game.players[1].score}}</div>
    <div data-ng-show="game.status == 3">This game was declined by {{game.players[1].player.name}}</div>
</section>
