$primary-color: #2ecc71;
$secondary-color: #2ba6cb;
$alert-color: #e74c3c;
$success-color: #2ecc71;
$warning-color: #e74c3c;
$info-color: #2ecc71;

$background: #34495e;
$foreground: #fff;

$top-bar: #111;

$font-family: "Open Sans", sans-serif;