<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-ng-controller="HeaderController">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#" href="/">Ping Pong</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right" data-ng-hide="global.authenticated">
        <li class="has-form">
          <a href="/play" class="button">Play Pong</a>
        </li>
      </ul>

      <ul class="right" data-ng-show="global.authenticated">
        <li class="has-dropdown">
          <a href="#!">{{global.user}}</a>
          <ul class="dropdown">
            <li><a href="#!">Profile</a></li>
            <li><a href="#!">Logout</a></li>
          </ul>
        </li>
        <li class="has-form">
          <a href="/play" class="button">Play Pong</a>
        </li>
      </ul>
    </section>
  </nav>
</div>