<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-ng-controller="HeaderController">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Ping Pong</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right" data-ng-hide="global.authenticated">
        <li class="has-form">
          <a href="/#!/register" class="button">Register</a>
        </li>
        <li class="has-form">
          <a href="/#!/login" class="button">Login</a>
        </li>
      </ul>

      <ul class="right" data-ng-show="global.authenticated">
        <li class="has-dropdown">
          <a href="#!">{{global.user.name}}</a>
          <ul class="dropdown">
            <li><a href="/users/me">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li class="has-form">
          <a href="/#!/games/new" class="button">Schedula a Match</a>
        </li>
        <li class="has-form">
          <a href="/#!/games" class="button">Game List</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
